<!DOCTYPE html>
<html>
  <head>
    <!--Tailwind CSS-->
    <!--<link href="../css/tailwindcss.css" rel="stylesheet">-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">-->
    <title>Home</title>
  </head>
  <body class="bg-blue-700">
    <div class="grid grid-cols-2 content-center">
      <div class="grid grid-cols-1 gap-4 place-content-center">
        <div class="place-self-center">
          <ul>
            <li><p class="text-4xl text-white">J. Ian Stewart</p></li>
            <li><p class="text-base opacity-75">Computer Science Student</p></li>
            <li><p></p></li>
            <li><p class="underline text-lg"><a href="index.html" class="mt-4 lg:mt-0 text-white hover:text-black mr-4">Home</a></p></li>
            <li><p class="underline text-lg"><a href="about.html" class="mt-4 lg:mt-0 text-black hover:text-white mr-4">About Me</a></p></li>
            <li><p class="underline text-lg"><a href="projects.html" class="mt-4 lg:mt-0 text-black hover:text-white mr-4">Projects</a></p></li>
            <li><p class="underline text-lg"><a href="resume.html" class="mt-4 lg:mt-0 text-black hover:text-white">Resume</a></p></li>
          </ul>
        </div>
      </div>
      <div class="flex h-screen items-center justify-center">
        <div class="flex h-screen items-center justify-center bg-sky-600 rounded h-80 w-80 overflow-hidden">
            <img src="https://pbs.twimg.com/profile_images/1431275688175099910/PNTN0PaP_400x400.jpg">
        </div>
      </div>
    </div>
  </body>
</html>
